body{
    /*background-image: url('Images/addCategory.jpg');
    background-size: 90%;*/
    background-color: #FFF5F4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   font-family: 'Delius', sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s linear;
}

   
.header {
    background-color: #FFF5F4;
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    /*background: #bcd4e6;*/
    padding: 20 20;
    /*padding: 2% 2%;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    margin: 0 0 ;
}

.header img {
    font-size: 3rem;
    color: #333;
    font-weight: bolder;
    margin: 1% 2%;
}

.header .logo span {
    color: var(--pink);
}

.header .navbar a {
    font-size: 20px;
    /*padding: 0 1.5rem;*/
    padding: 0 10px;
    color: #666;
    
    
}

.header .navbar{
    /* margin-right:-45%; */
    margin-left: 20%;
}

.header .navbar a:hover {
    color: var(--pink);
}

.header .icons{
  margin-right: 7%;
  

}

.header .icons a {
    font-size: 20px;
    color: #333;
    margin-left: 1.5rem;
}

.header .icons a:hover {
    color: var(--pink);
}

#navigation2 ul {
display: flex;
  padding: 1vh 1vw;
  border: 0.1vw solid #f7b7b7;
  border-radius: 0.5vw;
  list-style-type: none;
  flex-direction: column;
  
}


/**for body**/






.contact{
    width:500px;
    float: right;
    margin-top: 10%;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 350px;
    border: 2px solid black;
    padding: 10px;
    background-color: white;
    
}

.contact h2{
    font-family: 'Delius', sans-serif;
    color: #292929;
    text-align:left;
    margin-top:20px;
    margin-bottom: 20px;
    border-bottom: 0.1vw solid #9E9E9E;
}

.contact label{
  font-family: 'Delius', sans-serif;
}

.contact input, .contact textarea{
    width:95%;
    background-color:#eee;
    border:1px solid rgba(0,0,0,0.48);
    padding:5px 10px;
    margin-bottom:20px;
    margin-top: 5px;
    /*background-color: #e6e6fa;*/
}

.contact input[type=submit]{
    background-color:#000;
    color:#fff;
    transition:0.2s;
    border:3px solid #000;
    margin:30px 0;
    width: 49%;

}



.contact input[type=submit]:hover{
    background-color:#fff;
    color:#000;
    transition:0.2s;
}

.contact input[type=reset]{
    background-color:#000;
    color:#fff;
    transition:0.2s;
    border:3px solid #000;
    margin:30px 0;
    width: 49%;
}

.contact input[type=reset]:hover{
    background-color:#fff;
    color:#000;
    transition:0.2s;
}


.h1 {
    /*font-family: sans-serif;*/
    /*margin: 100px auto;*/
    color: black;
    text-align: center;
    font-size: 15px;
    max-width: 600px;
    position: relative;
    margin-top: 12px;
  }
    .h1:before {
    content: "";
    display: block;
    width: 170px;
    height: 2px;
    background: black;
    left: 0;
    top: 50%;
    position: absolute;
    margin-left: 40px;
  }
  .h1:after {
    content: "";
    display: block;
    width: 170px;
    height: 2px;
    background: black;
    right: 0;
    top: 50%;
    position: absolute;
     margin-right: 40px;
  }


  /**for footer**/


.newsletter{
  margin-top: -4.5%;
}
.newsletter input{
    width:70%;
    background-color:#eee;
    border:1px solid rgba(0,0,0,0.48);
    padding:8px 10px;
    
}

.newsletter input[type=submit]{
    background-color:#c4342d;
    color:#fff;
    transition:0.2s;
    border:1px solid #000;
    margin:30px 0;
    width: 25%;
    margin-left: 2%;

}

.newsletter input[type=submit]:hover{
    background-color:#fff;
    color:#000;
    transition:0.2s;
}


  footer{
  
    font-family: 'Delius', sans-serif;
    margin-top: 4%;
    background-color: #FFF5F4;

  
  }
  
  footer #footercontainer{
    margin-left: 5%;
    margin-right: 5%;
    max-width: 100%;
    max-height: 100%;
    flex-wrap: wrap;
  }
  
  footer #footercontainer p{
    font-size: 120%;
  }
  
  footer #footercontainer #navigation2 a{
  
    font-family: 'Delius', sans-serif;
    color: black;
  }
  
  footer #footercontainer #navigation2 a:hover{
  
    color:#b57281;
  }
  
  footer #footercontainer{
    display:inline-flex;;
    grid-gap: 4%;
  }
  
  footer #footercontainer .flex1{
    flex: 1;
    
  }
  footer #footercontainer .flex2{
    text-align: justify;
    flex: 2;
  }
  
  footer #footercontainer .flex3{
    flex: 1;
  }
  
  footer #footercontainer .flex4{
    text-align: justify;
    flex: 1;
  }
  
  .flex4 img{
    width: 50%;
    height: 20%;
    margin-left: 25%;
    
  }
  
  
  @media screen and (max-width: 840px) {
    .flex1,.flex2,.flex3,.flex4 {
  
      margin-left: 20%;
      margin-right: 20%;
    }
  
    .flex4 img{
    margin-left: 25%;
    }
  
    .symbols{
  
      margin-left: -6%;
  
    }
  
  }
  
  footer .symbols{
  
    margin-top: 2%;
    padding-left: 45.5%;
  }
  
  footer .copyright{
  
    font-size: 80%;
    text-align: center;
    margin-bottom: 2%;
  }
  
  .symbols img title{
    background-color: black;
    color: white;
  }
  
  
  /* When the screen is less than 600 pixels wide, hide all links, except for the ("contact"). Show the link that contains should open and close the topnav (.icon) */
  @media screen and (max-width: 800px) {
  
    #logo { 
      width: 15%; 
     
    }
    .topnav a:not(:nth-child(2)) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
      margin-left: 5px;
    }
  
    
  }
  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  @media screen and (max-width: 800px) {
  
    .topnav.responsive {
      position: relative;
      margin-right: 8%;
      
    }
  
    .fa-bars{
      font-size: 1em;
  
    }
  
    .topnav.responsive .icon {
      position: relative;
  
    }
  
    .responsive{
      display: inline-flex;
    }
  
    .topnav.responsive a {
      display: inline-flex;
    transition: all 1s ease-in-out;
  
    }
  }
