@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

header {

   font-family: 'Delius', sans-serif;
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-right: 2%;
   margin-left: 2%;
   padding: 0.4% 2%; 
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 font-family: 'Delius', sans-serif;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}

 
.header {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
  overflow-x: hidden;
  /* position: fixed; */
  top: 0;
  left: 0;
  right: 0;
  background: #bcd4e6;
  padding: 20 20;
  /*padding: 2% 2%;*/
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  margin: 0 0 ;
}

.header img {
  font-size: 3rem;
  color: #333;
  font-weight: bolder;
  margin: 1% 2%;
}

.header .logo span {
  color: var(--pink);
}

.header .navbar a {
  font-size: 20px;
  /*padding: 0 1.5rem;*/
  padding: 0 10px;
  color: #666;
  
  
}

.header .navbar{
  /* margin-right:-45%; */
  margin-left: 20%;
}

.header .navbar a:hover {
  color: var(--pink);
}

.header .icons{
margin-right: 7%;


}

.header .icons a {
  font-size: 20px;
  color: #333;
  margin-left: 1.5rem;
}

.header .icons a:hover {
  color: var(--pink);
}



   
  




  

#navigation2 ul {
display: flex;
padding: 1vh 1vw;
border: 0.1vw solid #f7b7b7;
border-radius: 0.5vw;
list-style-type: none;
flex-direction: column;

}



/* When the screen is less than 600 pixels wide, hide all links, except for the ("contact"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 800px) {

#logo { 
  width: 15%; 
 
}
.topnav a:not(:nth-child(2)) {display: none;}
.topnav a.icon {
  float: right;
  display: block;
  margin-left: 5px;
}


}
/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 800px) {

.topnav.responsive {
  position: relative;
  margin-right: 8%;
  
}

.fa-bars{
  font-size: 1em;

}

.topnav.responsive .icon {
  position: relative;

}

.responsive{
  display: inline-flex;
}

.topnav.responsive a {
  display: inline-flex;
transition: all 1s ease-in-out;

}
}


.background{
width: 100%;
height: 150px;
}

.background img{

width: 100%;
height: 100%;
}


.background{
background-image: url(Images/background.jpg);
background-size: contain;
width: 100%;
height: 250px;
border: 2px solid #5397cd;
border-style: outset ;
color: black;
text-align: center;
}

.background h2{
margin-top: 12%;
}




/* When the screen is less than 600 pixels wide, hide all links, except for the ("contact"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 800px) {

#logo { 
  width: 15%; 
 
}
.topnav a:not(:nth-child(2)) {display: none;}
.topnav a.icon {
  float: right;
  display: block;
  margin-left: 5px;
}


} 


/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}


#logo { 

  width: 8%;
  margin-left: -2%;

}

#navigation {

  float: right;
  list-style-type: none;

}

#navigation {
  display: inline-flex;

}

#navigation a{
  text-decoration: none;
  color: black;
  padding: 1vh 1vw;
  border: 1px solid transparent;
  transition: 1s ease;
  margin-right: 2%;
  transform:rotateY(360deg);
  
}

#navigation a:hover{
  background-color: #b87d7c;
  color:white;
}

#navigation a.active{

  background-color: #b28382;
  color:black;

}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   font-family: 'Delius', sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s linear;
}

.btn {
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background: #333;
    color: #fff;
    padding: 0.9rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
}

.btn:hover {
    background: var(--pink);
}

.header {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #cde3f5;
    padding: 20 20;
    /*padding: 2% 2%;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    margin: 0 0 ;
}

.header img {
    font-size: 3rem;
    color: #333;
    font-weight: bolder;
    margin: 1% 2%;
}

.header .logo span {
    color: var(--pink);
}

.header .navbar a {
    font-size: 20px;
    /*padding: 0 1.5rem;*/
    padding: 0 10px;
    color: #666;
}

.header .navbar{
    margin-right:-45%;
}

.header .navbar a:hover {
    color: var(--pink);
}

.header .icons{
  margin-right: 2%;

}

.header .icons a {
    font-size: 20px;
    color: #333;
    margin-left: 1.5rem;
}

.header .icons a:hover {
    color: var(--pink);
}

.header #toggler {
    display: none;
}

.header .fa-bars {
    font-size: 3rem;
    color: #333;
    border-radius: 0.5rem;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    border: 0.1rem solid rgba(0, 0, 0, 0.3);
    display: none;
}


.item {
  font-family: 'Delius', sans-serif;
    width: 45%;
}

/**{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: 'Josefin Sans', sans-serif;
}

body{
   background-color: #f3f3f3;
}*/

#logo { 

  width: 8%;
  margin-left: -2%;

}


.wrapper{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 80%;
  height: 80%;
  display: flex;
  box-shadow: 0 1px 20px 0 rgba(69,90,100,.08);
}

.wrapper .left{
  width: 35%;
  background: linear-gradient(to right,#01a9ac,#01dbdf);
  padding: 30px 25px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  text-align: center;
  color: #fff;
}

.wrapper .left img{
  border-radius: 5px;
  margin-bottom: 10px;
}

.wrapper .left h4{
  margin-bottom: 10px;
}

.wrapper .left p{
  font-size: 12px;
}

.wrapper .right{
  width: 65%;
  background: #fff;
  padding: 30px 25px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.wrapper .right .info,
.wrapper .right .projects{
  margin-bottom: 15%;
}

.wrapper .right .info h3,
.wrapper .right .projects h3{
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid #e0e0e0;
    color: #353c4e;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.wrapper .right .info_data,
.wrapper .right .projects_data{
  display: flex;
  justify-content: space-between;
}

.wrapper .right .info_data .data,
.wrapper .right .projects_data .data{
  width: 45%;
}

.wrapper .right .info_data .data h4,
.wrapper .right .projects_data .data h4{
    color: #353c4e;
    margin-bottom: 5px;
}

.wrapper .right .info_data .data p,
.wrapper .right .projects_data .data p{
  font-size: 13px;
  margin-bottom: 10px;
  color: #919aa3;
}

table,th,td{
    
    width: 700px;
    height: 50px;
    margin:auto;
    font-size: 20px;
    text-align: center;
    border:2px solid #000;
    border-collapse: collapse;
   
}

/* Drop down button css starts */

.info_data .data li a{
    text-decoration: none;
    
    
}
.info_data .data li a:hover
{
  background: #01dbdf;
  border-radius: 3px;
}



.newsletter{
  margin-top: -4.5%;
}
.contact form input{
  margin-left: 20px;
}

.contact form{
  margin-top: 20px;
  margin-bottom: 20px;
}




.contact input[type=submit]{
  background-color:#5570f8;
  color:#fff;
  transition:0.2s;
  border:1px solid rgb(41, 11, 191);
  margin:10px 0;
  width: 25%;
  margin-left: 2%;

}

.contact input[type=submit]:hover{
  background-color:#fff;
  color:rgb(83, 99, 247);
  transition:0.2s;
  
}
#myDIV2 input{
  margin-left: 20px;
}
#myDIV2{
  margin-top: 20px;
  margin-bottom: 20px;

}
#myDIV2 input[type=submit]{
  background-color:#5570f8;
  color:#fff;
  transition:0.2s;
  border:1px solid rgb(41, 11, 191);
  margin:10px 0;
  width: 25%;
  margin-left: 2%;
}


#myDIV2 input[type=submit]:hover{
  background-color:#fff;
  color:rgb(83, 99, 247);
  transition:0.2s;
}

.newsletter input{
    width:70%;
    background-color:#eee;
    border:1px solid rgba(0,0,0,0.48);
    padding:8px 10px;
    
}

#myDIV3{
  margin-top: 20px;
  margin-bottom: 20px;

}
#myDIV3 input[type=text] {
  margin-left: 20px;

}
#myDIV3 input[type=submit]{
  background-color:#5570f8;
  color:#fff;
  transition:0.2s;
  border:1px solid rgb(41, 11, 191);
  margin:10px 0;
  width: 35%;
  margin-left: 2%;
}


#myDIV3 input[type=submit]:hover{
  background-color:#fff;
  color:rgb(83, 99, 247);
  transition:0.2s;
}


.newsletter input[type=submit]{
    background-color:#c4342d;
    color:#fff;
    transition:0.2s;
    border:1px solid #000;
    margin:30px 0;
    width: 25%;
    margin-left: 2%;

}



.newsletter input[type=submit]:hover{
    background-color:#fff;
    color:#000;
    transition:0.2s;
}

hr {
  border: 0;
  clear:both;
  display:block;
  width: 250px;               
  background-color:black;
  height: 2px;
  margin-top: 2px;
  margin-bottom: 3px;
}

@media screen and (max-width:991px){
    .containers{
        display:block;
        width:100%;
        margin: 0 0;
        padding: 0 10%;
        background-color: #FFF5F4;

    }

    .container1{
        display:none;
    }

    .container2{
        background-image:url('images/cutebg6.jpg');
        background-size:cover;
    }

    .contact input, .contact textarea{
        background-color:#fff;
    }

    .contact input[type=submit]{
      width: 150px;
    
    }

    .contact input[type=reset]{

      width: 175px;
    
    }
}

#navigation2 ul {
display: flex;
  padding: 1vh 1vw;
  border: 0.1vw solid #f7b7b7;
  border-radius: 0.5vw;
  list-style-type: none;
  flex-direction: column;
  
}

footer{
  
  font-family: 'Delius', sans-serif;
  margin-top: 4%;

}

footer #footercontainer{
  margin-left: 5%;
  margin-right: 5%;
  max-width: 100%;
  max-height: 100%;
  flex-wrap: wrap;
}

footer #footercontainer p{
  font-size: 120%;
}

footer #footercontainer #navigation2 a{

  font-family: 'Delius', sans-serif;
  color: black;
}

footer #footercontainer #navigation2 a:hover{

  color:#b57281;
}

footer #footercontainer{
  display:flex;
  grid-gap: 4%;
}

footer #footercontainer .flex1{
  flex: 1;
  
}
footer #footercontainer .flex2{
  text-align: justify;
  flex: 2;
}

footer #footercontainer .flex3{
  flex: 1;
}

footer #footercontainer .flex4{
  text-align: justify;
  flex: 1;
}

.flex4 img{
  width: 50%;
  height: 20%;
  margin-left: 25%;
  
}


@media screen and (max-width: 840px) {
  .flex1,.flex2,.flex3,.flex4 {

    margin-left: 20%;
    margin-right: 20%;
  }

  .flex4 img{
  margin-left: 25%;
  }

  .symbols{

    margin-left: -6%;

  }

}

footer .symbols{

  margin-top: 2%;
  padding-left: 45.5%;
}

footer .copyright{

  font-size: 80%;
  text-align: center;
  margin-bottom: 2%;
}

.symbols img title{
  background-color: black;
  color: white;
}


/* When the screen is less than 600 pixels wide, hide all links, except for the ("contact"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 800px) {

  #logo { 
    width: 15%; 
   
  }
  .topnav a:not(:nth-child(2)) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
    margin-left: 5px;
  }

  
}
/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 800px) {

  .topnav.responsive {
    position: relative;
    margin-right: 8%;
    
  }

  .fa-bars{
    font-size: 1em;

  }

  .topnav.responsive .icon {
    position: relative;

  }

  .responsive{
    display: inline-flex;
  }

  .topnav.responsive a {
    display: inline-flex;
  transition: all 1s ease-in-out;

  }
}